/* ******************** */
/* ****** ASSET ******* */
/* ******************** */

@font-face {
  font-family: "pretendo";
  src: url('/fonts/Pretendo.ttf') format('truetype');
}

html{
  --color-black: #000000;
  --color-purple: #5800FF;
  --color-pink: #E900FF;
  --color-yellow: #FFC600;
  --color-white: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
  font-family: "pretendo";
  color: var(--color-yellow);
}

.background{
  min-height: 100%;
  min-width: 1920px;
  z-index: -1;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* ******************** */
/* ****** HEADER ****** */
/* ******************** */

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.toggle-menu {
  width: 20%;
  position: absolute;
  z-index: 0;
  display: none;
  left: 5%;
  top: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-o);
}

.toggle-click{
  z-index: 1;
  display: flex;
}

.toggle-menu a {
  width: 100%;
  text-align: center;
  color: var(--color-white);
  font-size: 1.4rem;
  text-decoration: none;
  padding: 3rem 3rem;
}

.ham {
  margin-left: 2rem;
  z-index: 2;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: rgb(255, 255, 255);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin: 2rem;
}

.header-title-container{
  margin-top: 5%;
  margin-left: 7%;
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: start;
}

.header-title{
  font-size: 4rem;
  letter-spacing: 1rem;
}

.header-navbar-link{
  padding-left: 5%;
  background: var(--color-black);
  color: var(--color-yellow);
  border-radius: 0.4rem;
}

.header-navbar-link:hover{
  transition: 0.4s;
  background: var(--color-yellow);
  color: var(--color-purple);
  border-bottom: var(--color-black);
}

/* ******************** */
/* ******* MAIN ******* */
/* ******************** */

#main{
  width: 100%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 360px;
  height: 500px;
  margin: 1.5%;
  padding: 2.5rem;
  border: 3px solid var(--color-black);
  border-radius: 0.5rem;
  background-color: var(--color-yellow);
  padding: 1rem;  
  color: var(--color-black);
}

.card:hover{
  transform:translateY(-15px);
  transition: 0.5s;
}

.card-img{
  width: 250px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}

.card-name{
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 2rem;
  padding-bottom: 1rem;
}

.card-description{
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description-number{
  width: 50%;
  text-align: center;
  border-right: 1px solid var(--color-black);
}

.card-description-type{
  width: 50%;
  text-align: center;
}



/* ******************** */
/* ****** FOOTER ****** */
/* ******************** */