<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content=" description du site" />
        <meta name="keywords" content="pokemon cards" />
        <meta name="author" content="Gaetan Santucci" />

        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/styles.css" />

        <title>POKEMON GO !</title>
    </head>

    <body>
        <img src="/images/wallpaper.jpeg" class="background" alt="" />
        <header class="header-container">
            <%- include('./navbar.ejs') %>
            <div class="header-title-container">
                <h1 class="header-title">WELCOME ON THE BIGEST POKEMON DATABASE</h1>
            </div>
        </header>
    </body>
</html>
