<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" description du site">
  <meta name="keywords" content="">
  <meta name="author" content="Gaetan Santucci">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/error.css">

  <title>page not found</title>
</head>
<body>
  <h1>erreur 404m page non trouvée</h1>
<body>

  
</body>
</html>